.signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 12px; 
  padding: 20px;
  width: 300px
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    padding: 8px 14px;
    margin-top: 15px;
   line-height: 50px;
}

.create-btn{
    background-color: #000000;
    color: #ffffff;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 14px;
    width: 250px;
    height:40px; 
    border-radius: 5px;  
}